.about{
    text-decoration: none;
    border: 1px solid #008060;
    color: white;
    padding: 6px;
    background-color: #008060;
}

.dashboard{
    text-decoration: none;
    border: 1px solid #008060;
    color: white;
    padding: 6px;
    background-color: #008060;
}